In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("vine_table.csv")

In [3]:
df = pd.DataFrame(data)

In [4]:
# vine_table dataframe
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N
904764,R2XJJXFZOM36V5,5.0,17.0,19.0,N,N

In [5]:
# data filtered for 20 or more total votes
total_votes_df = df[df["total_votes"] >= 20.0]

In [6]:
total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y
...,...,...,...,...,...,...
904759,R2EJ952S3YK254,4.0,46.0,47.0,N,N
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N

In [13]:
# creating a helpful_percentage column
df["helpful_percentage"] = (df["helpful_votes"] / df["total_votes"]) * 100

In [14]:
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percentage
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N,0.000000
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y,NaN
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y,0.000000
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y,NaN
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y,NaN
...,...,...,...,...,...,...,...
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N,96.621622
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N,100.000000
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N,93.103448
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N,93.877551
904764,R2XJJXFZOM36V5,5.0,17.0,19.0,N,N,89.473684

In [15]:
# percentage of helpful_votes is equal or greater than 50%
helpful_vote_percentage_df = df[df["helpful_percentage"] >= 50.0]

In [16]:
helpful_vote_percentage_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percentage
6,RL5LNO26GAVJ1,2.0,3.0,4.0,N,Y,75.000000
9,R14YLXA56NP51I,5.0,1.0,1.0,N,N,100.000000
19,R2TZVLLTSHA07N,5.0,1.0,1.0,N,Y,100.000000
21,R2EFSVA4ZDWLN4,5.0,2.0,2.0,N,Y,100.000000
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N,77.049180
...,...,...,...,...,...,...,...
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N,96.621622
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N,100.000000
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N,93.103448
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N,93.877551
904764,R2XJJXFZOM36V5,5.0,17.0,19.0,N,N,89.473684

In [23]:
# data filtered for paid vine reviews
vine_paid_df = helpful_vote_percentage_df[helpful_vote_percentage_df["vine"] == "Y"]

In [24]:
# data filtered for unpaid vine reviews
vine_unpaid_df = helpful_vote_percentage_df[helpful_vote_percentage_df["vine"] == "N"]

In [25]:
vine_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percentage
537,R1MESKI5XK08OC,5.0,2.0,3.0,Y,N,66.666667
683,R2MLNWOLUKXFGU,5.0,1.0,1.0,Y,N,100.000000
753,R3SLEAPFDAIVJD,5.0,1.0,2.0,Y,N,50.000000
859,R65JKJ6FWCBKI,5.0,1.0,2.0,Y,N,50.000000
1008,R1S1ECZN6QRE9W,5.0,5.0,5.0,Y,N,100.000000
...,...,...,...,...,...,...,...
817303,R2F3ZW5D659R55,4.0,8.0,9.0,Y,N,88.888889
820377,R1V98VQXCON014,5.0,15.0,15.0,Y,N,100.000000
820470,R3LIL62CE7BD8M,5.0,2.0,2.0,Y,N,100.000000
820981,R3Q3WCJO38879H,4.0,25.0,25.0,Y,N,100.000000
821131,R2IFH33VE2G65Z,5.0,4.0,4.0,Y,N,100.000000

In [26]:
vine_unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percentage
6,RL5LNO26GAVJ1,2.0,3.0,4.0,N,Y,75.000000
9,R14YLXA56NP51I,5.0,1.0,1.0,N,N,100.000000
19,R2TZVLLTSHA07N,5.0,1.0,1.0,N,Y,100.000000
21,R2EFSVA4ZDWLN4,5.0,2.0,2.0,N,Y,100.000000
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N,77.049180
...,...,...,...,...,...,...,...
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N,96.621622
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N,100.000000
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N,93.103448
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N,93.877551
904764,R2XJJXFZOM36V5,5.0,17.0,19.0,N,N,89.473684

In [28]:
# total number of vine paid reviews
vine_paid_df["review_id"].count()

963

In [29]:
# total number of vine unpaid reviews
vine_unpaid_df["review_id"].count()

330093

In [30]:
vine_paid_fivestar_df = vine_paid_df[vine_paid_df["star_rating"] >= 5.0]

In [31]:
vine_unpaid_fivestar_df = vine_unpaid_df[vine_unpaid_df["star_rating"] >= 5.0]

In [32]:
# total number of vine paid fivestar reviews
vine_paid_fivestar_df["review_id"].count()

520

In [33]:
# total number of vine unpaid fivestar reviews
vine_unpaid_fivestar_df["review_id"].count()

200616

In [34]:
vine_paid_fivestar_percentage = (vine_paid_fivestar_df["review_id"].count() / vine_paid_df["review_id"].count()) * 100

In [35]:
# the percentage of paid fivestar reviews
vine_paid_fivestar_percentage

53.99792315680166

In [36]:
vine_unpaid_fivestar_percentage = (vine_unpaid_fivestar_df["review_id"].count() / vine_unpaid_df["review_id"].count()) * 100

In [37]:
# percentage of unpaid fivestar reviews
vine_unpaid_fivestar_percentage

60.775599603748034